<!-- Nav Bar header -->
<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Weekly Meal Planner</a> <!-- Header Title -->
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="menu">Menu</a></li> <!-- Nav link to menu component -->
        <li class="nav-item"><a class="nav-link" routerLink="meal">Meals</a></li> <!-- Nav link to meal component -->
      </ul>
    </div>
  </div>
</nav>
