<!--Show detail of a meal based on id -->
<!-- If meal then use template -->
<div *ngIf="meal">
  <!-- put meal in uppercase -->
  <h2>{{meal.name | uppercase}} Details</h2>
  <!-- display meal id -->
  <div><span>id: </span>{{meal.id}}</div>
  <!-- Input for editing the meal -->
  <div>
    <label>name:
      <input [(ngModel)]="meal.name" placeholder="Meal Name">
    </label>
  </div>
  <button (click)="goBack()">Go Back</button> <!-- Button to go back to previous screen -->
  <button (click)="save()">Save</button> <!-- Button to save the changes to the meal -->
</div>


