<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div>

<!-- Form to add a meal to the list of meals -->
<form (ngSubmit)="addMeal()">
  <label>Meal name:
  </label>
  <input type="text" name="name" [(ngModel)]="meal.name">
  <button type="submit">
    Add meal
  </button>
</form>

      <!-- list of available meals-->
      <ul class="list-group">
        <div>
          <ul *ngFor="let meal of meals">
            <li>
              <button (click)="editMeal($event, meal)">
                Edit
              </button>
              <button (click)="deleteMeal($event, meal)">
                Delete
              </button>
              {{ meal.name }}
              <div *ngIf="editing && editingMeal.id == meal.id">
                <form (ngSubmit)="updateMeal(meal)">
                  <input type="text" name="name" [(ngModel)]="editingMeal.name">
                  <button type="submit">
                    Update
                  </button>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </ul>

</div>
</div>