
ul { 
    clear: left;
    list-style-type: none; 
    text-align: left;
    padding-right:10px;
}

label {
    clear:left;
    text-align:left;
    padding-right:10px;
}

input, label {
    float:left;
}





